asgiref==3.9.1
distlib==0.4.0
Django==5.2.4
djangorestframework==3.16.1
filelock==3.18.0
gunicorn==23.0.0
packaging==25.0
pillow==11.3.0
platformdirs==4.3.8
procfile==0.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
sqlparse==0.5.3
tzdata==2025.2
uv==0.1.32
virtualenv==20.32.0
virtualenvwrapper-win==1.2.7
